

.banner{
    background-color:hsl(240, 100%, 50%); 
    
}
.imformation_image_profil{
 display: flex;

 justify-content:center; 

border:1px solid red;

background-color:hsl(240, 100%, 50%); 

width: 100%;
min-height: 100vh; 

align-items: center;
padding-bottom: 40px;
}

.information{
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
    gap: 15px;
    padding: 30px 60px;

}





.social_links{

    display: flex;
    flex-direction: column;
    justify-items: center;
    padding: 15px 5px;
    gap: 15px;
    border:1px solid white;
    border-radius:20px
    ;
    box-shadow: 2px 5px 3px;
}

.social{
width: 27px;
height: 27px;

display: flex;
justify-content: center;
align-items: center;
border-radius: 50%;
background-color:rgb(255, 255, 255);
}


/******************  @media ***************** 

*********************************************/
@media (max-width:570px) {

   .imformation_image_profil{

    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    
    gap: 5px;
    
    margin-left: 0px;
    width: 100%;
   } 

   .information{
    display: flex;
    justify-content: center;
   align-items: center;
    margin-left: 0px;
    gap:2px;
    width: 100%;
   
   }

   
  
   
.social_links{
    display: flex;
    flex-direction: row;
}

.social{

width: 34px;
height: 34px;

}
    
}

/***********   max-width 1024 ************/
/* (min-width:571px)and(max-width:)  */
@media (min-width:571px) and (max-width:920px){

    .imformation_image_profil{

        display: flex;
        flex-direction: column;
        justify-content:center;
        align-items: center;
        
        gap: 5px;
        
        margin-left: 0px;
         
       } 
    
       .information{
        display: flex;
        flex-direction: column;
       justify-content: center;
       align-items: center;
        margin-left: 0px;
        width: 100%;
        height: 100%;
        gap:20px;
      
    
       }
      
      
       .social_links{
        display: flex;
        flex-direction: row;
       }

       .social{
        width: 50px;
        height: 50px;
        
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        background-color:rgb(255, 255, 255);
        }
    
    
} 