

.navbar{

    position:relative;
    display: flex;
    justify-content:space-between;
    align-items: center;
    margin: auto;
    padding: 30px 40px 30px 40px ;
    height: 70px;
    border: 1px solid white;
    
    background-color:hsl(240, 100%, 50%); 

}

.menu{
    display: none;
    font-size: 30px;
    font-weight:bolder;
    color: white;
}
.logo{
 margin-left: 90px;
 font-size: 25px;

 color:white;
}
.navlinks{
 margin-right: 90px;   
 display: flex;
 gap: 15px;

}


.link{

    color:white;
    font-size: 18px;
    font-weight:600; 
    text-decoration: none;
  
    border-bottom: 2px solid transparent;
    line-height: 28px; 
}
.link:hover{
  
  border-bottom:2px solid red;
  cursor: pointer;
  color: red;
  transition: all 0.5s ease-out; 
}
.border_bottom_link{
 border-bottom: 2px solid rgb(0, 4, 255); 
}


@media screen and (max-width:570px) {

.logo{
        margin-left: 60px;
       
       }

 .navlinks{
        margin-right: 60px;   
     
       
       }
.navbar{
    
   
    z-index: 99;  
    ;
}    
.menu_logo{

    display: flex;
    justify-content:space-between;
    align-items: center;
 
}


.menu{
  
    display: block;

}
.menu:hover{
    cursor: pointer;
    color: red;
    transition: .30s;
}

.navLinksWrapper{
    position:absolute;
    left:0px;
    top:100%;
    width: 100%;
    height: 100vh;
    background-color:inherit;
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    /* clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%); */
    transition: all .5s ease-in;
}

.navlinks{
     display: flex;
    flex-direction: column;
    
}

.link{margin-top:10px;
   color: white;
    font-size: 24px;
    line-height: 28px;
    font-weight:bolder;
    text-decoration: none; 
    background-color:red ;
     width: 100vw;
    text-align: center;
    padding-left: 0px;
    padding-right: 0px;
     
   
};

    
}

/**********************************************
            screen max-width:2024px
*****************************/
@media  (max-width:920px) {
    .navbar{
    
   
        z-index: 99;  
        
    }    
    .menu_logo{
    
        display: flex;
        justify-content:space-between;
        align-items: center;
     
    }
    
    
    .menu{
      
        display: block;
    
    }
    .menu:hover{
        cursor: pointer;
        color: red;
        transition: .30s;
    }
    
    .navLinksWrapper{
        position:absolute;
        left:0px;
        top:100%;
        width: 100%;
        height: 100vh;
        background-color:inherit;
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
        /* clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%); */
        transition: all .5s ease-in;
    }
    
    .navlinks{
        
        display: flex;
        flex-direction: column;
        
    }
    
    .link{margin-top:10px;
       color: white;
        font-size: 30px;
        line-height:36px;
        font-weight:bolder;
        text-decoration: none; 
        background-color:red ;
         width: 100vw;
        text-align: center;
        padding-left: 0px;
        padding-right: 0px;
         
       
    };
      
}